/* light.css: 👉 dark-on-light */

/** Don't forget to update theme-color in scripts/dark-mode.js if primary is changed. */
:root {
    --primary-text-color: #3b4351;
    --secondary-text-color: #455060;
    --primary-text-on-primary-color: #FFFFFF;
    --secondary-text-on-primary-color: #e5e5f9;
    --theme-background-color: #FFFFFF;
    --primary-color: #0288d1;
    --secondary-color: #005b9f;
}

.raised {
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2), 0 3px 6px rgba(255, 255, 255, 0.3);
}

.btn {
    border: .05rem solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}
.btn.btn-primary {
    color: var(--primary-text-color) !important;
    background: var(--primary-color) !important;
}

.bg-gray a:not(.btn):not(.docs-logo), a {
    color: var(--primary-text-color) !important;
}
.bg-gray .card .card-title {
    color: var(--primary-color) !important;
}
.bg-gray .text-secondary, .card {
    color: var(--secondary-text-color) !important;
}

.bg-primary {
    color: var(--primary-text-color) !important;
    background: var(--primary-color) !important;
}
.bg-primary .card {
    color: var(--secondary-text-on-primary-color) !important;
}
.bg-primary .card .card-title {
    color: var(--primary-text-color) !important;
}

.docs-brand {
    color: var(--primary-color) !important;
}

.section-hero .docs-brand h2 {
    color: var(--primary-color) !important;
}

.section-features.bg-gray h2 {
    color: var(--primary-text-color) !important;
}

.grid-hero h1 {
    color: var(--primary-text-color) !important;
}

.grid-hero h2 {
    color: var(--secondary-text-color) !important;
}
