/* Non-theme dependent stuff. */

.circular {
    border-radius: 50%;
}

.raised {
    margin-bottom: 1.1rem;
    border-radius: .4rem;
}

.bg-primary a:not(.btn) {
    border-bottom: .1rem solid currentColor;
    padding-bottom: .05rem;
    text-decoration: none
}

.bg-gray a:not(.btn):not(.docs-logo) {
    border-bottom: .1rem solid currentColor;
    padding-bottom: .05rem;
    text-decoration: none
}

.docs-brand {
    height: 2rem;
    left: 1.5rem;
    position: fixed;
    top: .85rem
}

.docs-brand .docs-logo {
    align-items: center;
    border-radius: .1rem;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    font-size: .7rem;
    height: 2rem;
    padding: .2rem;
    width: auto
}

.docs-brand .docs-logo:focus,
.docs-brand .docs-logo:hover {
    text-decoration: none
}

.docs-brand .docs-logo img {
    display: inline-block;
    height: auto;
    width: 1.6rem
}

.docs-brand .docs-logo h2 {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: .5rem;
    margin-right: .3rem
}

.section-hero {
    padding: 1rem .5rem
}

.section-hero .docs-brand {
    position: absolute;
    top: .85rem
}

.section-hero .column {
    padding: .4rem
}

.section-features {
    padding: 3rem .5rem
}

.section-features .column {
    padding: .4rem
}

.card {
    background: 0 0;
    border: 0;
    padding: .5rem
}

.card .card-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0
}

.grid-hero {
    padding-bottom: 0.5rem;
    padding-top: 5.6rem
}

.grid-hero h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem
}

.grid-hero h2 {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem
}

.grid-hero h2 u {
    border-bottom: .1rem solid currentColor;
    padding-bottom: .05rem;
    text-decoration: none
}

.card-body img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: .5rem;
}

.column p:last-child {
    margin-bottom: 0 !important;
}

.icons-frame {
    margin-bottom: 1rem !important;
    padding-left: 12px;
}

@media (max-width:500px) {
    .card .card-header {
        padding-top: 0 !important;
    }

    .section-features {
        padding: 2rem 0.5rem !important;
    }
}

@media (max-width:600px) {
    .grid-hero h2 {
        font-size: .9rem
    }

    .grid-hero .card {
        padding: 0
    }

    .mr-2 {
        margin-right: .6rem !important
    }

    .card-body img {
        margin-bottom: .8rem;
    }
}

@media (min-width:601px) {
    .mr-2 {
        margin-right: .7rem !important
    }
}

.icon {
    width: 48px;
    height: 48px;
    border-bottom: none !important;
    text-decoration: none !important;
}

.icon img {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.img-link {
    text-decoration: none !important;
    border-bottom: none !important;
}

.experiences .list-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.experiences .list-header:not(:first-child) {
    margin-top: 1.5rem;
}

.experiences .list-header .icon {
    display: inline-block;
    width: 48px;
    height: auto;
    margin-right: 0.7rem;
}

.experiences .list-header .icon.no-rounding {
    border-radius: 0 !important;
}

.experiences .list-header .empty-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.experiences .list-header h5 {
    margin-bottom: 0 !important;
    margin-left: 8px !important;
}

.experiences .list-wrapper {
    display: block;
    position: relative;
}

.experiences .list-wrapper .list-item {
    display: flex;
    position: relative;
    margin-top: 1rem !important;
    height: 100%;
}

.experiences .list-wrapper .list-line {
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    left: 22.5px;
}

.experiences .list-wrapper .list-item-bullet {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 16px;
    flex: 0 0 auto;
}

.first-bullet {
    background: none !important;
    width: 0 !important;
    height: 0 !important;
    border-radius: 0 !important;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
    border-bottom: 12px solid white !important;
    position: relative !important;
    top: -1px !important;
}

.experiences .list-wrapper .list-item-content {
    display: block;
    margin-top: -.3rem;
    margin-left: 18px;
}

.experiences .list-wrapper .list-item h6 {
    display: inline-block;
}

.experiences .list-wrapper .list-item .when {
    position: absolute;
    right: 0;
    display: inline;
}

.experiences .list-wrapper .list-item p {
    display: block;
    margin: 0;
}

@media (max-width: 700px) {
    .experiences .list-wrapper .list-item .when {
        position: relative;
        display: block;
    }
}
